{{ define "main" }}
    <h2>{{ .Title }}</h2>
    
    <input type="search" id="searchField">
    <button id="searchButton">Search</button>

    <input id="allwords" type="checkbox">
    <label for="allwords">Require all words</label>
    
    <div id="output">
        <p>Waiting for search input</p>
    </div>

    <script src="//unpkg.com/lunr@2.3.9/lunr.js"></script>
    <script src="//unpkg.com/axios@0.28.0/dist/axios.js"></script>
    {{- with resources.Get "js/search.js" }}
      <script src="{{ .RelPermalink }}"></script>
    {{- end }}

{{ end }}